h5py
numpy
scipy
matplotlib
pyqt5
nibabel
pydicom
pypotrace-windows ; sys_platform == "win32"
pypotrace ; sys_platform != "win32"
dill
progress
tensorflow-gpu
appdirs
requests
scikit-image
SimpleITK-SimpleElastix # Own distribution including elastix
pyradiomics # optional requirement
muscle-bids
importlib_resources ; python_version < "3.10"