#h5py<3.0.0 # version 3.0.0 introduces an incompatibility with keras
h5py # incompatibility seemingly resolved
numpy
scipy
matplotlib
pyqt5
nibabel
pydicom
pypotrace
dill
progress
keras
appdirs
SimpleITK # including Elastix
pyradiomics # optional requirement